.travel {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.travel__container {
  display: flex;
  flex-direction: column;
  gap: 96px;
  max-width: 1567px;
  width: 100%;
}

.travel__container-title {
  color: rgba(28, 46, 61, 1);
  max-width: 767px;
}

.travel__container-cards {
  justify-items: center;
  gap: 33px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));

  list-style: none;
  padding: 0px;
  align-items: stretch;
  margin: 0px;
}

.travel__container-card {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.travel__card-image {
  width: 100%;
  height: 100%;
}

.travel__card-opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(115, 175, 186, 0.8);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.travel__card-text {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-family: SFProDisplay;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  color: rgba(255, 255, 255, 1);
  max-width: 228px;
  margin: 0;
  opacity: 0;
  transform: translateY(9.375rem);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.travel__container-card:hover .travel__card-opacity,
.travel__container-card:focus .travel__card-opacity {
  opacity: 1;
}

.travel__container-card:hover .travel__card-text,
.travel__container-card:focus .travel__card-text {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 430px) and (max-width: 642px) {
  .travel {
    margin-top: 100px;
  }

  .travel__container {
    gap: 60px;
  }

  .travel__card-text {
    font-size: 36px;
    line-height: 46px;
    max-width: 250px;
    bottom: 40px;
    left: 53px;
  }
}
